[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/colors/start/molokai"]
	path = vim/pack/colors/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/pack/plugins/start/neomake"]
	path = vim/pack/plugins/start/neomake
	url = https://github.com/neomake/neomake.git
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/pack/plugins/start/nerdcommenter"]
	path = vim/pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/pack/plugins/start/traces.vim"]
	path = vim/pack/plugins/start/traces.vim
	url = https://github.com/markonm/traces.vim.git
[submodule "vim/pack/plugins/start/python-mode"]
	path = vim/pack/plugins/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "vim/pack/plugins/start/vim-easy-align"]
	path = vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/vim-airline-themes"]
	path = vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/custom/plugins/zsh-completions"]
	path = zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "vim/pack/plugins/start/supertab"]
	path = vim/pack/plugins/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/pack/plugins/start/pytest.vim"]
	path = vim/pack/plugins/start/pytest.vim
	url = git@github.com:alfredodeza/pytest.vim.git
[submodule "vim/pack/plugins/start/vim-markdown-folding"]
	path = vim/pack/plugins/start/vim-markdown-folding
	url = git@github.com:masukomi/vim-markdown-folding.git
[submodule "vim/pack/plugins/start/tabular"]
	path = vim/pack/plugins/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/plugins/start/vim-repeat"]
	path = vim/pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/pack/plugins/start/indentLine"]
	path = vim/pack/plugins/start/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "vim/pack/plugins/start/undotree"]
	path = vim/pack/plugins/start/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "vim/pack/plugins/start/vim-zsh-path-completion"]
	path = vim/pack/plugins/start/vim-zsh-path-completion
	url = git@github.com:fweep/vim-zsh-path-completion.git
[submodule "vim/pack/plugins/start/vim-abolish"]
	path = vim/pack/plugins/start/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "vim/pack/plugins/start/vim-snippets"]
	path = vim/pack/plugins/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
